%a{:href => new_admin_game_url()} Create new game
.row
  .span12
    Current games:
%table.table
  %thead
    %th Name
    %th Registration Starts
    %th Registration Ends
    %th Game Starts
    %th Game Ends
    %th Edit Game
    %th Players
  %tbody
    - @games.each do |g|
      %tr
        %td= g.name
        %td= g.registration_begins.strftime("%b %d %y @ %I:%M %p")
        %td= g.registration_ends.strftime("%b %d %y @ %I:%M %p")
        %td= g.game_begins.strftime("%b %d %y @ %I:%M %p")
        %td= g.game_ends.strftime("%b %d %y @ %I:%M %p")
        %td
          %a.btn.btn-primary{:href => admin_game_url(g)} Edit
        %td
          %a.btn{:href => players_admin_game_url(g)}= 'View Players'
All times EST
