%h2= @game.name
:css
  .scoreboard_list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .scoreboard_list li {
    margin: 20px 0;
    padding: 0;
    display: block;
    clear: both;
    overflow: hidden;
    position: relative;
  }
  .scoreboard_list .rank {
    float: left;
    font-size: 34px;
    line-height: 2em;
    font-family: 'KeepCalm', sans-serif;
    width: 50px;
  }
  .scoreboard_list .rank.small {
    font-size: 25px;
    line-height: 2.72em
  }
  .scoreboard_list .rank.tiny {
    width: 75px;
  }
  .scoreboard_list .player img {
    float: left;
    margin: 0 15px;
    border-right-width: 15px;
    border-right-style: solid;
  }
  .scoreboard_list .player h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5em;
    padding: 0; margin: 0;
  }
  .scoreboard_list .state {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0px;
    font-family: 'Keep Calm';
    left: 64px;
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px #fff; -1px -1px 1px #fff;
    font-variant: small-caps;
    line-height: 1.4em;
    width: 81px;
  }
  .scoreboard_list .player.human img {
    border-right-color: #3AC0FE;
  }
  .scoreboard_list .player.zombie img {
    border-right-color: #58FF3A;
  }
.row
  .span6
    %h3 Players
    %ul.scoreboard_list
      -# TODO: Cut this out into a helper.
      - at_rank = 0
      - points_at_rank = -1
      - num_at_rank = 1
      - @players.each do |p|
        - if p.points != points_at_rank
          - rank = (at_rank += num_at_rank)
          - points_at_rank = p.points
          - num_at_rank = 1
        - else
          - rank = at_rank
          - num_at_rank += 1
        %li.player{ :class => p.state }
          .rank{ :class => (rank >= 100) ? ((rank >= 1000) ? 'tiny' : 'small') : '' } #{rank}.
          .state= p.state
          .avatar= image_tag p.user.image_url
          %h4= link_to p.user.name, user_url(p.user)
          .status #{p.tags.length} tags, #{p.points} points
  .span4
    %h3 Squads
    %ul.scoreboard_list
      - @game.squads.each do |s|
        %li.squad= s.name
%h3 Registration
-if user_signed_in?
  -if current_user.registered?(@game)
    =link_to 'Unregister', unregister_game_url(@game)
  -else
    =link_to 'Register for game', register_game_url(@game)
-else
  Please Log In to register
